* {
  color: white;
  font-family: Arial , sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  text-align: center;
}

main {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.solar-system {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.planets {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px solid white;
  border-radius: 50px;
}

.planets-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  margin-top: 100px;
}

h2 {
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

img {
  width: 50%;
}

.mission {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px solid white;
  border-radius: 50px;
  margin-top: 10px;
}

.missions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.mission-unic {
  background-color: rgba(0, 0, 0, 0.219);
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}